.App {
  overflow: hidden;
  overflow-y: hidden;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/961/511/739/anime-lupin-the-third-wallpaper-preview.jpg');
  background-size: 100% 100%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  height: 1100px;
}
.App .desktop_icon {
  width:80px;
  height: 100px;
  
  text-align: center;
}

.desktop_icon p {
  font-size: 14px;
}

.desktop_icon i {
  color: #2E294E;
}

.App .row {
  float: inline-start;
}

#spotify {
  text-decoration: none;
  color: black;
}

.desktop-icon-container {
  margin: 10px;
}

